<% include ../shared/header.ejs %>
<h1>Car Inventory</h1>
<a href="../cars/add"> Add New Car</a>
<table class="table table-striped table-hover">
    <tr>
        <th>Make</th>
        <th>Model</th>
        <th>Year</th>
        <th>Color</th>
        <th>Action Buttons</th>
    </tr>
    <% for(i=0; i<cars.length; i++) { %>
    <tr>
        <td><%= cars[i].make %></td>
        <td><%= cars[i].model %></td>
        <td><%= cars[i].year %></td>
        <td><%= cars[i].color %></td>
        <td><a href="/cars/edit/<%= cars[i]._id%>" class="btn btn-primary col-md-2">Edit</a>
            <a href="/cars/delete/<%= cars[i]._id%>" class="btn btn-danger col-md-2" onclick="return confirm('Are you sure want to delete this?')"> Delete</a></td>
    </tr>
    <%}%>
</table>
<% include ../shared/footer.ejs %>