<% include ../shared/header.ejs%>
<div class="container">
<h1 class="log-head"><%= user.fName%><%= user.cName%> update your Profile</h1>
<form method="post" class="edit-form">
    <%if(user.userType == "jobseeker"){%>
    <fieldset class="form-group">
        <label class="control-label col-md-2" for="fName">First Name*: </label>
        <input name="fName" id="fName" value="<%= user.fName%>" required />
    </fieldset>
    <fieldset class="form-group">
        <label class="control-label col-md-2" for="lName">Last Name*: </label>
        <input name="lName" id="lName" value="<%= user.lName%>" required />
    </fieldset>
    <%}%>
    <%if(user.userType == "employer"){%>
    <fieldset class="form-group">
        <label class="control-label col-md-2" for="cName">Company Name*: </label>
        <input name="cName" id="cName" value="<%= user.cName%>" required />
    </fieldset>
    <fieldset class="form-group">
        <label class="control-label col-md-2" for="cPerson">Contact Person*: </label>
        <input name="cPerson" id="cPerson" value="<%= user.cPerson%>" required />
        <%}%>
        <fieldset class="form-group">
            <label class="control-label col-md-2" for="phoneNo">Contact No*: </label>
            <input  type="tel" name="phoneNo" id="phoneNo" value="<%= user.phoneNo%>" required />
        </fieldset>
        <button class="offset-2 btn up-info btn-primary col-md-3">Update</button>
</form>
</div>
<% include ../shared/footer.ejs%>