<% include ../shared/header.ejs %>
<<<<<<< HEAD

<div class="seeker_detail container">
    <%if (user.userType == "jobseeker"){%>
    <h1>Job Seeker Details</h1>

    <table class="table table-striped table-hover">
        <tr>
            <td>Email</td>
            <td><%= user.username %></td>
        </tr>
        <tr>
            <td>First Name:</td>
            <td><%= user.fName %></td>
        </tr>
        <tr>
            <td>Last Name:</td>
            <td><%= user.lName %></td>
        </tr>
        <tr>
            <td>Contact number:</td>
            <td><%= user.phoneNo %></td>
        </tr>

    </table>
    <%}%>
    <%if(user.userType == "employer"){%>

    <h1>Employer Details</h1>

    <table class="table table-striped table-hover">
        <tr>
            <td>Email</td>
            <td><%= user.username %></td>
        </tr>
        <tr>
            <td>Company Name:</td>
            <td><%= user.cName%></td>
        </tr>
        <tr>
            <td>Contact Person</td>
            <td><%= user.cPerson %></td>
        </tr>
        <tr>
            <td>Contact number:</td>
            <td><%= user.phoneNo %></td>
        </tr>

    </table>
    <%}%>
    <a href="../jobSeekers/edit/<%= user._id%>" class="btn btn-primary">Edit</a><hr>
</div>


=======
<%if (user.userType == "jobseeker"){%>
<h1>Job Seeker Details</h1>
<table class="table table-striped table-hover">
    <tr>
        <td>Email</td>
        <td><%= user.username %></td>
    </tr>
    <tr>
        <td>First Name:</td>
        <td><%= user.fName %></td>
    </tr>
    <tr>
        <td>Last Name:</td>
        <td><%= user.lName %></td>
    </tr>
    <tr>
        <td>Contact number:</td>
        <td><%= user.phoneNo %></td>
    </tr>

</table>
<%}%>
<%if(user.userType == "employer"){%>
<h1>Employer Details</h1>
<table class="table table-striped table-hover">
    <tr>
        <td>Email</td>
        <td><%= user.username %></td>
    </tr>
    <tr>
        <td>Company Name:</td>
        <td><%= user.cName%></td>
    </tr>
    <tr>
        <td>Contact Person</td>
        <td><%= user.cPerson %></td>
    </tr>
    <tr>
        <td>Contact number:</td>
        <td><%= user.phoneNo %></td>
    </tr>

</table>
<%}%>
<a href="../jobSeekers/edit/<%= user._id%>" class="btn btn-primary col-md-2">Edit</a>
>>>>>>> a3247dd4ff110e2e12b3551ddaf770a6bd713be3
<% include ../shared/footer.ejs %>