<% include ../shared/header.ejs %>

<div class="seeker_detail container">
    <%if (user.userType == "jobseeker"){%>
    <h1>Job Seeker Details</h1>

    <table class="table table-striped table-hover">
        <tr>
            <td>Email</td>
            <td><%= user.username %></td>
        </tr>
        <tr>
            <td>First Name:</td>
            <td><%= user.fName %></td>
        </tr>
        <tr>
            <td>Last Name:</td>
            <td><%= user.lName %></td>
        </tr>
        <tr>
            <td>Contact number:</td>
            <td><%= user.phoneNo %></td>
        </tr>

    </table>
    <%}%>
    <%if(user.userType == "employer"){%>

    <h1>Employer Details</h1>

    <table class="table table-striped table-hover">
        <tr>
            <td>Email</td>
            <td><%= user.username %></td>
        </tr>
        <tr>
            <td>Company Name:</td>
            <td><%= user.cName%></td>
        </tr>
        <tr>
            <td>Contact Person</td>
            <td><%= user.cPerson %></td>
        </tr>
        <tr>
            <td>Contact number:</td>
            <td><%= user.phoneNo %></td>
        </tr>

    </table>
    <%}%>
    <a href="../jobSeekers/edit/<%= user._id%>" class="btn btn-primary">Edit</a><hr>
</div>

<% include ../shared/footer.ejs %>
